/* Google Font Poppins  */
body{
    font-family: 'Poppins', sans-serif;
    margin-left: 125px;
    margin-right: 125px;
}
/* header details */
.button-fix{
    margin-top: 25px;
}
.button{
    text-decoration: none;
    background-color: crimson;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 25px;
}
.fa-arrow-right{
    padding-left: 8px;
}
.container{
    display: flex;
}
.influencer{
    width: 50%;
    margin-top: 110px;
}
.influencer h1{
    font-size: 2em;
}
.container img{
    width: 440px;
   height: 414px;
}
.transition{
    width: 440px;
    height: 414px;
    transition: width 5s ease, height 5s ease, transform 5s ease;
}
.transition:hover{
    width: 600px;
    height: 600px;
    transform: rotate(180deg);
}
/* logos */
.logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 100px;
}
/* popular collection */
.popular-collection{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.section-title{
    text-align: center;
}
.collection .products img{
    height: 206px;
    width: 250px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.collection{
    background-color: aliceblue;
    justify-content: center;
    width: 280px;
    height: 480px;
    margin-top: 15px;
    border-radius: 10px;
}
.products{
    margin-left: 15px;
    margin-top: 15px;
}
.products-details{
    margin-left: 15px;
}
.fa-star.filled{
    color: goldenrod;
    font-size: 10px;
}
.fa-star-half-alt{
    color: goldenrod;
    font-size: 10px;
}
.star{
    display: flex;
    align-items: center;   
}
.rating-points{
    padding-left: 5px;
    font-size: 12px;
}
/* link button */
.fix-link-button{
    margin-top: 25px;
}
.link-button{
    text-decoration: none;
    color: crimson;
    font-size: 700;
    margin-left: 780px;
}
/* footer styles */
.fix-footer{
    background-color: black;
    height: 225px;
    width: 100%;
    margin-bottom: 0px;
}
.footer-details{
    color: white;
    text-align: center;
    padding: 15px;
}

.icons{
    color: white;
  text-align: center;
}
/* extra-part */
.Photoshoot{
    display: flex;
    margin-top: 75px;
}
.Photoshoot img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.photo-camera{
    width: 50%;
    padding-left: 25px;
}
.click-button-fix{
    margin-top: 20px;
}
.click-button{
    text-decoration: none;
    background-color: crimson;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
}
/* media queries */

/* mobile device */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
    .container img{
        margin-top: 50px;
    }
    .logos{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
   .collections{
    grid-template-columns: repeat(1, 1fr);
   }
   .Photoshoot{
       width: 100%;
       flex-direction: column;
   }
   .fix-footer{
       width: 100%;
       margin-top: 50px;
   }
}

/* tablet device */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
    .container img{
        margin-top: 50px;
    }
    .logos{
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
    }
   .collections{
    grid-template-columns: repeat(2, 1fr);
   }
   .Photoshoot{
       width: 100%;
       flex-direction: column;
   }
   .fix-footer{
       width: 100%;
       margin-top: 50px;
   } 
}